$primary-color: #673ab7;

// breaking points

$max-xs: 599px;
$min-sm: 600px;
$max-sm: 959px;
$min-md: 960px;
$max-md: 1279px;
$min-lg: 1280px;
$max-lg: 1919px;
$min-xl: 1920px;

$padding-large: 30px;
$padding-medium:20px;
$padding-small: 10px;