<h2 class="mat-h2">Welcome {{userName}},</h2>

<form [formGroup]="userBiddingForm" novalidate>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <!-- <div fxLayout="row" fxFlex="60" fxFlexOffset="15"> -->

    <mat-input-container>
      <input matInput id="bidValue" formControlName="bidValue" placeholder="Bidding value">
      <!-- <mat-error *ngIf="this.userRegisterForm.controls.name.hasError('pattern')">
          Please enter a valid email address
        </mat-error> -->
      <mat-error *ngIf="this.userBiddingForm.controls.bidValue.hasError('required')">
        Bid value is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="this.userBiddingForm.controls.bidValue.hasError('minlength')">
        Name should be atleast 2 characters long
      </mat-error>
    </mat-input-container>

    <div>
      <button mat-raised-button color="primary" [disabled]="userBiddingForm.invalid" (click)="onBidClick(this.userBiddingForm.controls.bidValue.value)">Bid</button>
    </div>

    <!-- routerLink="/join-bid" -->

  </div>
</form>

<h3 class="mat-line">
  Here are the bidding details
</h3>
<table>
  <thead>
    <tr>
      <td>User Name</td>
      <td>Bid value</td>
    </tr>
  </thead>
  <tbody *ngFor="let bidder of bidders">
    <tr>
      <td>{{bidder.name}}</td>
      <td>{{bidder.bidValue}}</td>
    </tr>
  </tbody>
</table>