<!-- <md-grid-list cols="2" rowHeight="10em">
  <md-grid-tile>
    <md-input-container>
      <input mdInput placeholder="First name">
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile>
    <button md-raised-button>Raised button</button>
  </md-grid-tile>
</md-grid-list>

<h2 class="mat-h2">The quick brown fox jumps over the lazy dog.</h2> -->
<div>
  <mat-toolbar fxHide.xs color="primary">

    <!-- <div class="app-heading_bar__title">
      <h1>Scaling real time bidding</h1>
    </div>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button> -->

  </mat-toolbar>
</div>

<div class="app-container">
  <div class="app-container__banner">
    <div>
      <h1>Bid for business</h1>
      <h4>Online platform to have more customers walk-in</h4>
    </div>

  </div>
  <div class="app-container__view">
    <router-outlet></router-outlet>
  </div>
</div>