@import "~sass/utils/variables";

.app-heading-bar__content {
    max-width: 1200px;
    margin:auto;
}

.app-heading_bar__title {
    flex: 1 0 auto;
    text-align: center;
}

.app-container {
    max-width: 1200px;
    margin: auto;
    padding-top: $padding-large;
    padding-bottom: 2 * $padding-large;
}

.app-container__banner {
    background-image: url('/images/banner_image.png');
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    flex-flow: row;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    padding-right: $padding-medium;
    padding-left: $padding-medium;
}

.app-container__view {
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    padding-right: $padding-medium;
    padding-left: $padding-medium;
    padding-top: $padding-large;
    border: solid 1px #c5beb7;
    border-top: 0;
    background-color: #fff;
}


@media screen and (max-width:$max-xs) {
    .app-container {
        padding: 0;
    }

    .app-container__banner {
        border-radius: 0;
    }

    .app-container__view {
        border: 0;
        border-radius: 0;
    }
}