
.padding-small {
    padding: 20px;
}

.padding-medium {
    padding: 20px;
}

.padding-large {
    padding: 30px;    
}

.padding-small-vertical {
    padding-top:10px;
    padding-bottom: 10px;
}

.padding-medium-vertical {
    padding-top:20px;
    padding-bottom: 20px;
}

.padding-large-vertical {
    padding-top:30px;
    padding-bottom: 30px;
}

.padding-small-horizontal {
    padding-right:10px;
    padding-left: 10px;
}

.padding-medium-horizontal {
    padding-right:20px;
    padding-left: 20px;
}

.padding-small-top {
    padding-top:10px;
}

.padding-medium-top {
    padding-top:20px;
}

.padding-large-top {
    padding-top:30px;
}

.padding-small-left {
    padding-left:10px;
}

.padding-medium-left {
    padding-left:20px;
}

.padding-large-left {
    padding-left:30px;
}

.horizontal-large-divider {
    padding: 0 30px;
}

.horizontal-medium-divider {
    padding: 0 20px;
}

.horizontal-small-divider {
    padding: 0 10px;
    border: solid 1px #c5beb7;    
}


/* FLEX related styles - start */
.align-self-flex-start {
    align-self: flex-start;
}

/* FLEX related styles - end */

/* ICON related styles - start */ 
.icon-vertical-middle {
    vertical-align: middle;
}
/* ICON related styles - end */